.container
{
    display: flex;
    align-items: center;
    color: white;
    column-gap: 15px;
    font-size: 16px;
    height: 100px;
    background-color: var(--primary-color);
    width: 50%;
    justify-content: end;
    border-top-left-radius: 100;
    border-bottom-left-radius: 100px;
    padding-right: 50px;
}

.container>span
{
    cursor: pointer;
    /* background-color: rgba(0,0,0,0.2); */
    padding: 8px 15px;
    border-radius: 10px;
}

.register
{
    font-size: 14px;
    padding: 8px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.cart
{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.close
{
    display: none;
}

@media screen and (max-width:1120px)
{
    .container
    {
        height: 100vh;
        width: 400px;
        flex-direction: column;
        position: fixed;
        top:0;
        right: 0;
        border-radius: 0;
        justify-content: center;
        box-shadow: 5px;
        color: black;
        font-size: 20px;
        padding-right: 0;
    }

    .hide
    {
        display: none;
    }

    .show
    {
        display: flex;
    }

    .close
    {
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        background-color: var(--primary-color);
        border-radius: 50%;
        color: white;
        font-weight: 500;
        margin-top: 30px;
    }

    .register
    {
        font-size: 20px;
        background-color: var(--primary-color);
        color: white;
    }
}