.container
{
    display: flex;
    align-items: center;
    color: white;
    column-gap: 15px;
    font-size: 16px;
    height: 100px;
    background-color: var(--primary-color);
    width: 50%;
    justify-content: end;
    border-top-left-radius: 100;
    border-bottom-left-radius: 100px;
    padding-right: 50px;
}

.container>span
{
    cursor: pointer;
    /* background-color: rgba(0,0,0,0.2); */
    padding: 8px 15px;
    border-radius: 10px;
}

.register
{
    font-size: 14px;
    padding: 8px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.cart
{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.close
{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;
    margin:0;
    position: absolute;
    top: 20px;
    right: 55px;
    display: none;
}

@media screen and (max-width:1280px)
{
    .container
    {
        height: auto;
        padding: 60px 0;
        width: 350px;
        flex-direction: column;
        position: fixed;
        top:0;
        right: 0;
        border-radius: 0;
        justify-content: center;
        box-shadow: 5px;
        color: black;
        font-size: 18px;
        padding-right: 0;
        background-color: white;
        border-radius: 0 0 30px 30px;
        box-shadow: 3px 0 5px;
    }

    .hide
    {
        transform: translateY(-350px);
    }

    .show
    {
        transform: translateY(0);
    }

    .close
    {
        display: block;
    }

    .register
    {
        margin-top: 12px;
        font-size: 16px;
        background-color: var(--primary-color);
        color: white;
    }
}

@media screen and (max-width:420px)
{
    .container
    {
        width: 100%;
    }
}