.container
{
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
    border-top-right-radius: 100px;
}

.container>h1
{
    margin:0;
    font-size: 48px;
    color: white;
}

@media screen and (max-width: 920px) 
{
    .container>h1
    {
        font-size: 40px; 
    }
}

@media screen and (max-width: 840px) 
{
    .container
    {
        border-radius: 0;
        width: 100%;
    }
}

@media screen and (max-width: 420px) 
{
    .container>h1
    {
        font-size: 30px; 
    }
}