.container
{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.logo
{
    height: 90px;
    width: fit-content;
    cursor: pointer;
    padding: 10px 0 0 50px;
    z-index: 1;
}

@media screen and (max-width:420px) 
{
    .logo
    {
        padding-left: 20px;
    }    
}


